{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="chat-container">
    <div class="chat-header">
        <img src="{% static 'chatbot2.png' %}" alt="Chatbot Image" class="chatbot-image">
        <div class="chatbot-info">
            <h1 class="chatbot-title">Chatbot</h1>
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
            <p class="chatbot-description">Chatbot Description goes here. It can be a brief introduction or any relevant information.</p>
            <p class="welcome-message">Welcome, {{ request.user.username }}!</p>
            
        </div>
    </div>
    
    <div class="chat-log" id="chat-log">
        {% for message in chat_history %}
            <div class="message">
                <p class="user-message">{{ message.user_text }}</p>
                {% if message.bot_text %}
                    <p class="chatbot-message">{{ message.bot_text }}</p>

                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="user-input-container">
        <input type="text" id="user-input" class="user-input" placeholder="Type a message..." onkeydown="handleKeyDown(event)">
        <button id="sendButton" onclick="sendMessage()" class="send-button">Send</button>

    </div>
</div>
<script src="{% static 'chatbot.js' %}"></script>

{% endblock %}
