{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="login-container">
        <h2 class="login-title">Login</h2>
        
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login-button" type="submit">Login</button>
        </form>

        <p class="register-link">Don't have an account? <a href="{% url 'register' %}" class="register-anchor">Register</a></p>
    </div>

{% endblock %}
